.container_job {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.shadow {
  border-radius: 5%;
}

.job {
  width: 18rem;
  border-radius: 5%;
  box-shadow: 0 1rem 3.2rem rgba(0, 0, 0, 0.15);
}

.container {
  align-items: center;
  justify-items: center;
}

.job_describtion {
  cursor: pointer;
}

.job_information {
  box-shadow: 0 0 0 2px #999;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5%;
}

.photo {
  height: 12rem;
  z-index: -2;
  border-bottom: solid 2px #999;
}

.job_img {
  height: 100%;
  width: 100%;
}

.profile {
  border-top: solid 2px #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name,
.rating_number {
  padding: 0.3rem 0.6rem;
  color: #343a40;
}

.price,
.city {
  padding-top: 1.6rem;
  padding-left: 0.6rem;
  padding-bottom: 0.4rem;
  color: #343a40;
}
.rating {
  color: #343a40;
}

.title {
  padding: 0.5rem;
}

.rating_container {
  display: flex;
  align-items: center;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.city {
  margin-right: 1rem;
}

.star {
  color: var(--first-color);
}

@media (max-width: 940px) {
  body {
    background-color: #fff;
  }
  .grid_coll_3 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
  }
  .container_job {
    margin-top: 1.5rem;
  }
}

@media (max-width: 650px) {
  .grid_coll_3 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
  .container_job {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
